body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
    display: flex;
    justify-content: center;
}

.orderTable{
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background: #0202027e;
    box-shadow:  0px 0px 6px #000000;
    table-layout:fixed;
    position: relative;
}

.orderTable thead th{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    white-space: 1em;
}

.orderTable tbody td{
    padding: 10px;
    text-align: center;
    /* 隐藏溢出文字 */
    overflow: hidden;
    white-space:nowrap; 
    text-overflow:ellipsis;
}

.progress{
    z-index: 1;
    width: 280px;
    height: 3px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    /* 水平居中 */
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translate(-50%, 0);
    /* 进度条居中 */
    display: flex;
    align-items: center;
}

.progress_bar{
    width: 0px;
    height: 3px;
    border-radius: 50px;
    background: #3d3c3c;
    position: relative;
}

.progress_bar .dot{
    z-index: 2;
    width: 3px;
    height: 3px;
    background: rgb(212, 211, 212);
    border-radius: 100%;
    box-shadow:  0px 0px 4px #000000;
    float: right;
}

/* 音乐进度条闪烁动画 */
.dot_blink {
    animation: dot_blink 3s infinite;
}

@keyframes dot_blink
{
    0% {    
        transform: scale(1);
    }
    50% {   
        transform: scale(4);
    }
    100%{
        transform: scale(1);
    }
}

.alertBox{ 
    width: 300px;
    height: 500px;
    position: absolute;
    top: 59px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    width: 0px;
    color: rgb(250, 136, 136);
    margin: 0px 0px 7px 0px;
    padding: 7px 0px 7px 0px;
    font-size: 17px;
    border-radius: 7px;
    background: #000000c0;
    box-shadow:  0px 0px 10px #5a5a5a;
    text-align: center;
    white-space:nowrap;
    overflow: hidden;
    z-index: 3;
    text-overflow:ellipsis;
    animation: show 7s forwards ease-in-out;
}

@keyframes show {
    0%{
        width: 0px;
    }
	50% {
        width:98%;
    }
    100%{
        width: 0;
    }
}

/* 配置按钮样式 */
#setting{
    width: 0px;
    border: 0;
    padding: 0px;
    font-weight: bolder;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.main:hover #setting{
    width: 100px;
}
#setting:hover{
    background: rgb(235, 152, 152);
}

/* 配置页面样式 */
.config{
    width: 500px;
    height: 0px;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(114, 114, 114);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: .5s;
}
.config tr td{
    width: 200px;
    padding: 5px 0px;
}
.config tr td:nth-child(1){
    text-align: right;
}
.config tr td:nth-child(2){
    text-align: center;
}
.config tr td:nth-child(3){
    text-align: left;
}

.config tr td input{
    /* outline: none; */
    width: 80%;
}
.config tr td select{
    /* outline: none; */
    width: 80%;
}
.config tr td select option{
    /* outline: none; */
    width: 100%;
    background: gold;
    z-index: 99;
}