/* 登录样式 */
.login{
    width: 100%;
}

.login_panel{
    width: 400px;
    margin: 0 auto;
    /* 水平布局，垂直居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 隐藏 */
    overflow: hidden;
    position: relative;
}

#loginForm{
    width: 2000px;
    display: flex;
    position: relative;
    left: -400px;
    transition: .5s;
}

#loginForm .login_type{
    width: 400px;
    /* 水平垂直居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 二维码 */
#loginForm #qrImg{
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    background: transparent;
    z-index: 4;
    transition: .5s;
}

#loginForm #qrImg:hover{
    box-shadow: 0px 0px 20px white; 
}

