/* 总体样式 */
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
}
.main{
    width: 300px;
    height: 100%;
    margin: 0px auto;
}
.main:hover .setting{
    height: 500px;
}

/* 顶层提示窗口样式 */
.alertBox{ 
    width: 520px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    background: transparent;
    /* 该图层不监听事件 */
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    
}

.alertBox .text{
    width: 0px;
    height: 20px;
    color: rgb(250, 136, 136);
    margin: 0px 0px 7px 0px;
    padding: 7px 0px 7px 0px;
    font-size: 17px;
    border-radius: 7px;
    background: #000000c0;
    box-shadow:  0px 0px 10px #5a5a5a;
    text-align: center;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    animation: show 7s forwards ease-in-out;
}
/* 这个动画真的好丝滑，看着最舒服的一集 */
@keyframes show {
    0%{
        width: 0px;
    }
	50% {
        width: 300px;
    }
    95%{
        width: 0px;
        height: 20px;
        margin: 0px 0px 7px 0px;
        padding: 7px 0px 7px 0px;
    }
    100%{
        height: 0px;
        padding: 0px;
        margin: 0px;
    }
}


/* 定义滚动条样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 10px rgba(12, 235, 4, 0.5); */
    border-radius: 10px;
    background: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border: 1px gray solid;
    border-radius: 10px;
    /* box-shadow: inset 0 0 0px rgba(145, 77, 77, 0.5); */
    background: rgb(255, 255, 255);
}