/* 配置页面样式 */
.setting{
    width: 520px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    backdrop-filter: blur(2px) brightness(90%);
    background-color: rgba(126, 126, 126, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(114, 114, 114);
    overflow: hidden;
    /* 居中 */
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    transition: .5s;
}

/* 设置页面导航菜单栏 */
.setting_menu{
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 导航栏按钮 */
.setting_btn{
    margin: 7px;
    height: 30px;
    color: #ffffff;
    flex: 1;
    border: 0px;
    border-radius: 7px;
    background: transparent;
    transition: .5s;
}

.setting_btn:hover{
    background-color: gray;
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
}

/* 上拉按钮 */
#upBtn{
    margin-right: 20px;
    height: 20px;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px white;
    background: transparent;
}

.setting_body{
    width: 100%;
    height: calc(100% - 30px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.setting_pages{
    width: 100%;
    left: 0px;
    display: flex;
    position: relative;
    transition: .5s;
}

.setting_pages > *{
    min-width: 520px;
    height: 100%;
}

/* 表格样式 */
.setting table{
    width: 100%;
    border-spacing: 20px 20px;
    table-layout: fixed;
}

/* 表格行第一列元素 */
.setting table tr td:nth-child(1){
    width: auto;
    font-weight: 500;
    text-align: justify-all;
    text-align-last: justify;
}

/* 表格行第二列元素 */
.setting table tr td:nth-child(2){
    width: 200px;
    padding: 0px;
    text-align: center;
}

/* 表格行第三列元素 */
.setting table tr td:nth-child(3){
    width: auto;
    text-align: center;
}

.setting table tr td input{
    width: 90%;
    box-sizing: border-box;
    padding: 3px;
    margin: 0px;
    outline: none; 
    border: 1px solid grey;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    background: rgb(187, 187, 187);
    transition: .5s;
}

.setting table tr td input:hover{
    width: 100%;
    box-shadow: 0px 0px 10px white;
    background: white;
}

/* 选择框样式 */
.setting table tr td select{
    width: 100%;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    color: white;
    outline: none;
    overflow: auto;
    background: rgb(187, 187, 187);
    transition: .5s;
}

.setting table tr td select option:checked{
    box-shadow: 0px 0px 10px black;
}

.setting table tr td select:hover{
    box-shadow: 0px 0px 20px black;
}

.setting table button{
    border: 0px;
    padding: 7px;
    width: 100px;
    outline: none;
    background: rgb(255, 253, 253);
    border-radius: 5px;
    transition: .5s;
}
.setting table button:hover{
    background: rgb(151, 151, 150);
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.setting table ul{
    width: 80%;
    height: 200px;
    margin: 0px auto;
    padding: 0px;
    overflow: scroll;
    outline: none;
    border: 1px solid black;
    border-radius: 7px;
    text-align: left;
    text-align-last: left;
    position: relative;
}

.setting table ul li{
    width: 100%;
    list-style-type: none;
    transition: .5s;
}

/* -------------- 登录设置页样式 ------------ */
.login_container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

#loginForm {
    width: 2000px;
    padding: 5px;
    display: flex;
    position: relative;
    left: 0px;
    transition: .5s;
}

/* 网易二维码登录 */
#loginForm .qr_login {
    width: 400px;
    /* 垂直布局，垂直居中 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 二维码 */
#loginForm .qr_login #qrImg {
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    background: transparent;
    z-index: 4;
    transition: .5s;
}

#loginForm .qr_login #qrImg:hover {
    box-shadow: 0px 0px 20px white;
}

#loginForm .qr_login #qrButton {
    margin: 0 auto;
    margin-top: 10px;
}

/* qq Cookie登录 */
#loginForm .ck_login{
    width: 400px;
    border-radius: 5px;
    /* 垂直布局，垂直居中 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm .ck_login #ckText{
    width: 300px;
    height: 100%;
    margin: 5px;
    text-align-last: left;
}

/* -------------- 点歌设置页样式 ------------ */
.setting_order_page #userBlackList,
#songBlackList {
    height: 105px;
    background: rgb(16, 20, 16);
    transition: .5s;
}